<% provide :title, "About" %>
<h1>About</h1>

<p>
BB-SYS is a small bulletin board system written in Rails.
<br/>
Source code is available at github: <a href="https://github.com/kreinloo/bb-sys">
https://github.com/kreinloo/bb-sys</a>
</p>
