<% provide :title, "About" %>

<div class="row">
  <div class="span8 offset2">
    <h1 class="page-header">About</h1>
    <p>
      BB-SYS is a small bulletin board system written in Rails.
      <br/>
      Source code is available at github:
      <a href="https://github.com/kreinloo/bb-sys">
      https://github.com/kreinloo/bb-sys</a>
    </p>
  </div>
</div>
