<% provide :title, "Page not found" %>

<div class="row">
  <div class="span6 offset3">
    <h1 class="page-header">Page not found!</h1>
    <h2>The page you were looking for does not exist.</h2>
  </div>
</div>
