<% provide :title, "All users" %>

<div class="row">
  <div class="span12">
    <h1 class="page-header">All users</h1>
    <%= will_paginate %>
    <ul class="list-ul">
      <% @users.each do |user| %>
        <li>
          <h3><%= link_to user.name, user %></h3>
        </li>
      <% end %>
    </ul>
    <%= will_paginate %>
  </div>
</div>
