<% provide :title, @user.name %>
<div class="row">
  <div class="span12">
    <div class="userinfo center">
      <h1><%= @user.name %></h1>
      <h3><%= @user.email %></h3>
      <br/>
      <h5>posts: <%= @user.posts.count %></h5>
      <h5>replies: <%= @user.replies.count %></h5>
    </div>
  </div>
</div>
