<% if object.errors.any? %>
  <div id="errors_explanation">
    <div class="alert alert-error">
      The form has <%= pluralize(object.errors.count, "error")%>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %>
    <% end %>
    </ul>
  </div>
<% end %>
