@import "bootstrap";

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 20px;
}

.hero-unit {
  padding-top: 15px;
}

#errors_explanation {
  color: #f00;
  width: 100%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 5px;
}

.footer-left {
  float: left;
}

.post {
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
