@import "bootstrap";

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 20px;
}

.hero-unit {
  padding-top: 15px;
}

#errors_explanation {
  color: #f00;
  width: 100%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 5px;
}

.footer-left {
  float: left;
}

.post {
  @extend .hero-unit;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

.list-ul {
  list-style: none;
  margin-left: 0px;
}

.userinfo {
  margin-bottom: 20px;
}

.post-title {
  @extend .page-header;
  padding-bottom: 0px;
  margin: 0px;
  border-bottom: 0px;
}

.post-reply {
  width: 50%;
}

.reply {
  @extend .post;
  padding: 15px;
  font-size: 12px;

  i {
    color: black;
  }
}

.post-index-btns {
  .pagination {
    float: left;
    margin: 0px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .btn-post {
    float: right;
    margin: 0px;
  }
  .button_to {
    margin: 0px;
  }
}

.btn-left {
  float: left;
}

.btn-posts-back {
  margin-left: 20px;
}

.button_to {
  margin: 0px;
}

.new_post {
  margin: 0px;
}

.new_reply {
  margin: 0px;
}

footer {
  margin-top: 10px;
}
