<footer class="container">
  <span class="footer-left">
    &copy; 2012 Kristjan Reinloo
  </span>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>
